@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186ac1;
}

.menu-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 100px;
    border: none;
    background-color: #186ac1;
    outline: initial;
}

.button {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 50%;
    width: 15px;
    height: 15px;
    transform: rotate(135deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: 0.3s ease;
}

.button.active {
    transform: rotate(315deg);
}

.menu-btn {
    top: 60px;
}

.menu {
    display: block;
    position: fixed;
    z-index: 2;
    padding: 20px;
    height: 100vh;
    right: 20px;
    transform: translateY(-100%);
    transition: .3s ease-in-out;
}

.menu-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.menu.active {
    transform: translateY(5%);
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
